.vs/VSWorkspaceState.json
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/CS2060ClassCode/v17/Browse.VC.db
.vs/CS2060ClassCode/v17/.wsuo
.vs/CS2060ClassCode/FileContentIndex/5e666047-236d-4fcd-b2e1-b70256729cfb.vsidx
examples/ch11/fig11_02.c